<div class="col-md-12">
    <div class="card hovercard">
        <div class="card-background">
            <img class="card-bkimg" alt="" src="http://lorempixel.com/100/100/people/9/">
            <!-- http://lorempixel.com/850/280/people/9/ -->
        </div>
        <div class="useravatar">
            <!-- <img alt="" src="http://lorempixel.com/100/100/people/9/"> -->
            <% if @user.avatar_url.present? %>
              <%= image_tag(@user.avatar_url )%>
            <% end %>
        </div>
        <div class="card-info"> <span class="card-title"><%= @user.user_name  %></span>

        </div>
    </div>
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <div class="hidden-xs">Update Profile</div>
            </button>
        </div>
    </div>

    <!-- <div class="well">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
          <h3>This is tab 1</h3>
        </div>
        <div class="tab-pane fade in" id="tab2">
          <h3>This is tab 2</h3>
        </div>
        <div class="tab-pane fade in" id="tab3">
          <h3>This is tab 3</h3>
        </div>
      </div>
    </div> -->
    <%= simple_form_for @profile, defaults: { input_html: { class: 'form-control' } } do |f| %>
      <%= f.input :dob,as: :string, input_html: { class: 'form-control datepicker' } %>
      <%= f.input :age %>
      <%= f.input :phone %>
      <%= f.input :sex %>
      <%= f.input :height %>
      <%= f.input :weight %>
      <%= f.input :hobby %>
      <%= f.input :location %>
      <%= f.input :hometown %>
      <%= f.input :content %>
      <%= f.input :looking_for %>
      <%= f.button :submit %>
    <% end %>
    
</div>
            
    